@charset "utf-8";
/* CSS Document */

body
{
	background-color: darkslategray;
}

.fontStyle1
{
	color: lightslategray;
	text-align: center;
}

.fontStyle2
{
	color: aliceblue;
	text-align: center;
}

.center
{
	align-content: center;
	text-align: center;
}

#conceptIMG
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}